<div class="container-fluid">
  <div class="forgot-pwd-container">
    <div class="forgot-pwd-wrapper">
      <h4>忘記密碼</h4>
      <mat-stepper [linear]="false" #stepper>
        <mat-step  >
          <form [formGroup]="emailFormGroup" class="forgot-pwd-form">
            <ng-template matStepLabel>輸入登入信箱</ng-template>
            <mat-form-field class="form-input">
              <mat-label>信箱</mat-label>
              <input type="email" matInput placeholder="請填入註冊時的信箱" formControlName="email" required />
              @if(formControls.email.invalid && (formControls.email.dirty ||
              formControls.email.touched)){
              <mat-error class="error-message">
                @if(formControls.email.errors?.['required']){
                <ng-container> 此欄位為必填 </ng-container>}
                @if(formControls.email.errors?.['email'] ||
                formControls.email.errors?.['pattern']){
                <ng-container> 請輸入有效的 Email 格式 </ng-container>}
              </mat-error>
              }
            </mat-form-field>
            <div>
              <button matButton class="step-btn" [disabled]="emailFormGroup.invalid" (click)="sendVerificationLetter()">
                接收驗證信
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step label="輸入驗證碼"  >
          <form [formGroup]="codeFormGroup" class="forgot-pwd-form">
            <div class="verify-code">
              <mat-form-field>
                <mat-label>輸入驗證碼</mat-label>
                <input matInput formControlName="code" placeholder="請輸入收到的8碼驗證碼" required />
                @if(formControls.code.invalid && (formControls.code.dirty || formControls.code.touched)){
                <mat-error class="error-message">
                  @if(formControls.code.errors?.['required']){
                  <ng-container> 此欄位為必填 </ng-container>
                  }
                  @if(formControls.code.errors?.['pattern']){
                  <ng-container> 請輸入8位驗證碼 </ng-container>
                  }
                </mat-error>
                }
              </mat-form-field>
              @if(codeCoolDown==0){
              <button type="button" class="resend-code-btn" (click)="resendCode()" [disabled]="resendDisable">
                重新發送驗證信
              </button>
              }@else if (!verificationSend) {
              <button type="button" class="resend-code-btn" disabled>
                驗證信發送中
              </button>
              }@else{
                 <button type="button" class="resend-code-btn" disabled>
                {{codeCoolDown}}秒後可重發
              </button>
              }
            </div>
            <div>
              <button matButton matStepperPrevious class="step-btn">
                上一步
              </button>
              <button matButton class="step-btn" [disabled]="codeFormGroup.invalid" (click)="checkVerification()">
                下一步
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="passwordFormGroup" label="更改密碼" >
          <form [formGroup]="passwordFormGroup" class="forgot-pwd-form">
            <div class="change-pwd">
              <mat-form-field class="form-input">
                <mat-label>更改密碼</mat-label>
                <div class="password-input">
                  <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password"
                    placeholder="請輸入修改密碼" required />
                  <button class="visibility password-icon" (click)="changeVisibility('password')" type="button">
                    <mat-icon>{{
                      hidePassword ? "visibility_off" : "visibility"
                      }}</mat-icon>
                  </button>
                </div>
                @if(formControls.password.value){
                <ng-container><span>密碼強度:{{
                    passwordStrengthLevel === "low"
                    ? "弱"
                    : passwordStrengthLevel === "middle"
                    ? "中"
                    : "強"
                    }}</span>
                </ng-container>
                } @if(formControls.password.invalid &&
                (formControls.password.dirty || formControls.password.touched)){
                <mat-error class="error-message">
                  @if(formControls.password.errors?.['required']){
                  <ng-container> 此欄位為必填 </ng-container>}
                  @if(formControls.password.errors?.['pattern'] &&
                  firstPasswordError){
                  <ng-container> {{ firstPasswordError }} </ng-container>}
                </mat-error>
                }
              </mat-form-field>
              <mat-form-field class="form-input">
                <mat-label>確認密碼</mat-label>
                <div class="password-input">
                  <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput formControlName="confirmPassword"
                    placeholder="請再輸入一次欲修改的密碼" required />
                  <button class="visibility password-icon" (click)="changeVisibility('confirmPassword')" type="button">
                    <mat-icon>{{
                      hideConfirmPassword ? "visibility_off" : "visibility"
                      }}</mat-icon>
                  </button>
                </div>
                @if(formControls.confirmPassword.invalid &&
                (formControls.confirmPassword.dirty ||
                formControls.confirmPassword.touched)){
                <mat-error class="error-message">
                  @if(formControls.confirmPassword.errors?.['required']){
                  <ng-container> 此欄位為必填 </ng-container>}
                  @if(!formControls.confirmPassword.errors?.['required'] &&
                  formControls.confirmPassword.errors?.['notSame']){
                  <ng-container> 密碼不符，請確認並重新輸入 </ng-container>}
                </mat-error>
                }
              </mat-form-field>
              <div class="pwd-rule">
                <mat-icon matTooltip="至少8~30字元，含 1 大寫、1 小寫、1 數字、1 特殊符號(如 @ # $ % ! 等)" matTooltipPosition="above">info
                </mat-icon>
                <p>查看密碼規則</p>
              </div>
            </div>
            <div>
              <button matButton matStepperPrevious class="step-btn">
                上一步
              </button>
              <button matButton class="step-btn" [disabled]="
                  passwordFormGroup.invalid ||
                  passwordFormGroup.hasError('notSame')
                " (click)="updatePwdByEmail()">
                下一步
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>完成</ng-template>
          <p class="forgot-pwd-form">你已經改好密碼，請重新登入</p>
          <div>
            <button matButton (click)="toLogin()" class="step-btn">確定</button>
          </div>
        </mat-step>
      </mat-stepper>
      <p  (click)="toLogin()" class="back-login">點我回登入頁</p>
    </div>
  </div>
</div>