<!-- 顯示目前在哪個頁面 -->
<h4 class="page-title">編輯員工資料</h4>

<!-- 小導覽條 -->
<div class="breadcrumb-container">
  <span class="breadcrumb" (click)="backToHome()">首頁</span>
  &nbsp;/&nbsp;
  <span class="breadcrumb" (click)="backToEmployeeList()">員工名單</span>
  &nbsp;/&nbsp;
  <span class="breadcrumb" (click)=" backToEmployeeDetail()">詳細資訊</span>
  &nbsp;/&nbsp;
  <span class="breadcrumb" (click)=" backToEmployeeEdit()">編輯員工資料</span>
</div>

<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <!-- 包裹整個表單 -->
  <div class="edit-box">
    <div class="form-wrapper">

      <!-- 部門的下拉式選單 -->
      @if (!isHREmployee) {
      <label>部門</label>
      <div>
        <select class="filter-css" [formControl]="departmentControl">
          @for (department of departments; track department) {
          <option [ngValue]="department">{{ department.name }}</option>
          }
        </select>
        @if (departmentControl.invalid && departmentControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請選擇部門
        </div>
        }
      </div>
      }

      <!-- 職稱的下拉式選單 -->
      @if (!isHREmployee) {
      <label>職稱</label>
      <div>
        <select class="filter-css" [formControl]="positionControl">
          @for (position of positions ; track position) {
          <option [ngValue]="position">{{ position.name }}</option>
          }
        </select>
        @if (formGroup.hasError('positionGradeMismatch') && formGroup.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>職稱與職等不符：總經理需為 11，主管為 6~10，員工為 1~5
        </div>
        }
      </div>
      }

      <!-- 職等的下拉選單 -->
      @if (!isHREmployee) {
      <label>職等</label>
      <div>
        <select class="filter-css" [formControl]="gradeControl">
          <option [ngValue]="null">-- 請選擇職等 --</option>
          @for (grade of availableGrades; track grade) {
          <option [ngValue]="grade">{{ grade }}</option>
          }
        </select>

        @if (gradeControl.invalid && gradeControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請選擇職等
        </div>
        }
      </div>
      }

      <!-- 姓名的輸入框 -->
      <label>姓名</label>
      <div>
        <input class="filter-css" type="text" [formControl]="nameControl" />
        @if (nameControl.invalid && nameControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請填寫姓名
        </div>
        }
      </div>

      <!-- 性別的下拉式選單 -->
      <label>性別</label>
      <div>
        <select class="filter-css" [formControl]="genderControl">
          @for (gender of genders; track gender) {
          <option [ngValue]="gender">{{ gender.name }}</option>
          }
        </select>
        @if (genderControl.invalid && genderControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請選擇性別
        </div>
        }
      </div>

      <!-- 電話的輸入框 -->
      <label>電話</label>
      <div>
        <input class="filter-css" type="text" [formControl]="phoneControl" />
        @if (phoneControl.invalid && phoneControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請填寫電話
        </div>
        }
      </div>

      <!-- 電子信箱的輸入框 -->
      <label>電子信箱</label>
      <div>
        <input class="filter-css" type="text" [formControl]="emailControl" />
        @if (emailControl.invalid && emailControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請填寫電子信箱
        </div>
        }
      </div>

      <!-- 入職日期的日期選擇器 -->
      @if (!isHREmployee) {
      <label>入職日期</label>
      <div>
        <input class="filter-css" type="date" [formControl]="entryDateControl" />
        @if (entryDateControl.invalid && entryDateControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請選擇日期
        </div>
        }
      </div>
      }

      <!-- 基本薪資的輸入框 -->
      @if (!isHREmployee) {
      <label>基本薪資</label>
      <div>
        <input class="filter-css" type="number" [formControl]="salariesControl" [disabled]="isHREmployee" />
        @if (salariesControl.invalid && salariesControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請輸入正確的薪資（最低 28590）
        </div>
        }
      </div>
      }

      <!-- 在職狀態的下拉式選單 -->
      @if (!isHREmployee) {
      <label>在職狀態</label>
      <div>
        <select class="filter-css" [formControl]="isEmployedControl">
          @for (isEmployed of isEmployed; track isEmployed) {
          <option [ngValue]="isEmployed">{{ isEmployed.name }}</option>
          }
        </select>
        @if (isEmployedControl.invalid && isEmployedControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請選擇在職狀態
        </div>
        }
      </div>
      }

      <!-- 離職日期的日期選擇器 -->
      @if (!isHREmployee) {
      @if (isEmployedControl.value?.name == "已離職") {
      <label>離職日期</label>
      <div>
        <input class="filter-css" type="date" [formControl]="resignationDateControl" />
        @if (resignationDateControl.invalid && resignationDateControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請選擇日期
        </div>
        }
      </div>
      }
      }

      <!-- 離職原因的輸入框 -->
      @if (!isHREmployee) {
      @if (isEmployedControl.value?.name == "已離職" && resignationDateControl.value) {
      <label>離職原因</label>
      <div>
        <input class="filter-css" type="text" [formControl]="resignationReasonControl" />
        @if (resignationReasonControl.invalid && resignationReasonControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請填寫原因
        </div>
        }
      </div>
      }
      }

      <!-- 留職停薪起的日期選擇器 -->
      @if (!isHREmployee) {
      <label>留職停薪起</label>
      <div>
        <input class="filter-css" type="date" [formControl]="unpaidLeaveStartDateControl" />
      </div>
      }

      <!-- 留職停薪迄的日期選擇器 -->
      @if (!isHREmployee) {
      @if( unpaidLeaveStartDateControl.value ){
      <label>留職停薪迄</label>
      <div>
        <input class="filter-css" type="date" [formControl]="unpaidLeaveEndDateControl" />
        @if (unpaidLeaveEndDateControl.invalid && unpaidLeaveEndDateControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請選擇日期
        </div>
        }
      </div>
      }
      }

      <!-- 停薪原因的輸入框 -->
      @if (!isHREmployee) {
      @if( unpaidLeaveEndDateControl.value ){
      <label>停薪原因</label>
      <div>
        <input class="filter-css" type="text" [formControl]="unpaidLeaveReasonControl" />
        @if (unpaidLeaveReasonControl.invalid && unpaidLeaveReasonControl.touched) {
        <div class="error-text">
          <mat-icon class="error-icon">error</mat-icon>請填寫原因
        </div>
        }
      </div>
      }
      }
    </div>

    <!-- 送出按鈕 -->
    <div class="edit-button-div">
      <button type="submit" class="btn edit-employee-button">更新員工資訊</button>
    </div>
  </div>
</form>