<h2 mat-dialog-title>填寫復職資訊</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill" style="width: 100%; margin-top: 8px;">
    <mat-label>入職日期</mat-label>
    <input matInput type="date" formControlName="reinstatementDate">
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%; margin-top: 16px;">
    <mat-label>基本薪資</mat-label>
    <input matInput type="number" formControlName="salaries" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">取消</button>
  <button mat-flat-button color="primary" (click)="confirm()" [disabled]="form.invalid">確認</button>
</mat-dialog-actions>